<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <customErrors mode="Off"></customErrors>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <machineKey validation="HMACSHA512" decryption="AES" validationKey="7298B6256E6F77FA099D25A7A80F0C90C06D9D0861E3D24C1218F1AD58DF80C86A1BD1F5E17FBA54ED95C7B9F0B68B79CDFDE78E2E47D7554C9A93AF7BF5CDC1" decryptionKey="F270006CDE0D8E6D0C8DC6A9CD6A2D61DAE348143A43D4BB" />
        <sessionState allowCustomSqlDatabase="true" cookieless="AutoDetect" mode="InProc" sqlCommandTimeout="300" stateConnectionString="Default" stateNetworkTimeout="300" timeout="60" compressionEnabled="false" />
    </system.web>
  <connectionStrings>
        <remove name="LocalSqlServer" />
    <add connectionString="Server=DESKTOP-01NRKPB;Database=confsys;Integrated Security=true" name="Default" providerName="System.Data.SqlClient" />
    <add connectionString="Server=DESKTOP-01NRKPB;Database=AsanWazifa;Integrated Security=true" name="AsanWazifa" providerName="System.Data.SqlClient" />
    <add connectionString="Server=DESKTOP-01NRKPB;Database=confsys;Integrated Security=true" name="confsys" providerName="System.Data.SqlClient" />
    <add connectionString="Server=DESKTOP-01NRKPB;Database=wps;Integrated Security=true" name="wps" providerName="System.Data.SqlClient" />




  </connectionStrings>
  <appSettings>
    <add key="UserPhoto" value="E:\Asan Khedmat\AsanWazifa\userPhoto\" />
    <add key="Portfolio" value="E:\Asan Khedmat\AsanWazifa\portfolio\" />
  </appSettings>
    <location path="cpanel">
    </location>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <remove value="index.htm" />
                <remove value="index.html" />
                <remove value="iisstart.htm" />
                <remove value="default.aspx" />
                <add value="LMIS" />
                <add value="apiplus" />
                <add value="AsanWazifa" />
                <add value="confsys" />
            </files>
        </defaultDocument>
    </system.webServer>

  
</configuration>
