<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <machineKey validation="HMACSHA512" decryption="AES" validationKey="7298B6256E6F77FA099D25A7A80F0C90C06D9D0861E3D24C1218F1AD58DF80C86A1BD1F5E17FBA54ED95C7B9F0B68B79CDFDE78E2E47D7554C9A93AF7BF5CDC1" decryptionKey="F270006CDE0D8E6D0C8DC6A9CD6A2D61DAE348143A43D4BB" />

      <!--<customErrors mode="On" defaultRedirect="~/error/custom/default.aspx">
        <error statusCode="403" redirect="~/error/custom/default.aspx"/>
        <error statusCode="404" redirect="~/error/router/default.aspx"/>
      </customErrors>-->
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>

    <add name="Default" connectionString="Data Source=.\ASANSQLSERVER;Initial Catalog=confsys;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="AsanWazifa" connectionString="Data Source=.\ASANSQLSERVER;Initial Catalog=AsanWazifa;Integrated Security=True" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <add key="UserPhotos" value="D:\PD\AK_Prj\running\AsanWazifa\userPhoto\" />
    <add key="Portfolio" value="D:\PD\AK_Prj\running\AsanWazifa\portfolio\" />
    
  </appSettings>

  <!--<system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="~/error/custom/default.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>-->
</configuration>
